<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <php>
      <ini name="memory_limit" value="128M" />
    </php>

    <testsuites>
        <testsuite name="All">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory suffix=".php">../../src/</directory>
      </whitelist>
    </filter>
</phpunit>
